@font-face {
    font-family: wasteland;
    src: url(./resources/font/NationalBikerCo..otf);
}
@font-face {
    font-family: old-english;
    src: url(./resources/font/OldeEnglish.ttf);
}

// VARIABLES

$bg-color: rgb(51, 51, 51);
$text-color: aliceblue;
$text-color-alternate: black;
$accent-color: rgb(254, 140, 0);
$accent-color-dark: rgb(243, 93, 0);
$border-radius: 25px;
$text-shadow-dark: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

// GENERAL RULES

* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: wasteland, sans-serif;
    background: linear-gradient(
            180deg,
            rgba(6, 6, 6, 0.597) 0%,
            rgba(9, 9, 9, 0.259) 100%
        ),
        url(images/bg/bg-kobra-yellow.jpg);
    background-size: contain;
    color: $text-color;
    margin: 0;
    padding: 0;
    main {
        width: 98vw;
        overflow: hidden;
        section {
            margin: 0 auto;
            width: 80%;
            padding-bottom: 5rem;
            scroll-margin-top: 6rem;
        }
    }
    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background-color: $text-color-alternate;
        outline: 1px solid $accent-color;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $accent-color;
        outline: 1px solid $accent-color-dark;
    }
}

h1,
h2,
h3,
h4,
p,
a {
    font-weight: 400;
    text-shadow: $text-shadow-dark;
}
h1 {
    color: $accent-color;
}
h2 {
    font-size: 2rem;
    position: relative;
    &::after {
        content: '';
        width: 50%;
        height: 3px;
        background: $accent-color;
        position: absolute;
        top: 50%;
        margin-left: 1rem;
        z-index: -1;
    }
}

span {
    color: $accent-color;
}

a,
a:visited {
    color: lightgray;
    transition: 0.2s;
    display: inline-block;
    transition: 0.4s;
}

.fa-gear {
    font-size: 3rem;
    color: $accent-color;
}

.gear-bg {
    opacity: 0.5;
    height: 100%;
    width: auto;
    position: absolute;
    z-index: -1;
}
.btn-up {
    height: 30px;
    width: 30px;
    border-radius: $border-radius;
    border: 2px solid $accent-color;
    position: fixed;
    bottom: 10%;
    right: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    &:hover {
        transform: scale(1.5);
    }
}

// NAV + CONTAINERS

header {
    nav {
        border: 1px solid $accent-color;
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 100;
        background-color: black;
        i {
            font-size: 3rem;
            margin-left: 1rem;
            color: $accent-color;
        }
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            a {
                margin: 0.3rem;
                text-decoration: none;
                font-size: 1rem;
                &:hover,
                i:hover {
                    color: $accent-color;
                    box-shadow: $text-shadow-dark;
                    transform: scale(1.2);
                }
            }
            .resume-btn {
                border: 1px solid $text-color-alternate;
                padding: 0.5rem 1rem;
                border-radius: 10px;
                background-color: $accent-color;
                color: $text-color;
                transition: 0.2s;
                &:hover {
                    background-color: $accent-color-dark;
                    color: $text-color;
                }
            }
        }
    }
}

.section_home {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-size: 1.5rem;
    .gear-bg {
        right: 50%;
    }
    > :nth-child(1) {
        margin: 0;
    }
    > :nth-child(2) {
        font-size: 4rem;
        margin: 0;
    }
    > :nth-child(3) {
        font-size: 2.5rem;
        margin: 0;
    }
    > :nth-child(4) {
        margin: 1rem 0;
    }
}

.section_about {
    display: flex;
    flex-direction: column;
    position: relative;
    .gear-bg {
        border: none;
        position: absolute;
        height: 100%;
        width: auto;
        z-index: -1;
        opacity: 0.5;
        left: 50%;
    }
    p {
        font-size: 1.5rem;
    }
    .about-info,
    .about-img {
        align-self: center;
        margin: 1rem;
    }
    .about-info {
        i {
            font-size: 3rem;
            margin-right: 1rem;
            color: $accent-color;
        }
    }
    .about-img {
        position: relative;
        order: 2;
        i {
            position: absolute;
            top: -5%;
            right: -5%;
            font-size: 5rem;
            color: $accent-color;
        }
        img {
            width: 100%;
            border-radius: $border-radius;
            border: 5px solid $accent-color;
        }
        .img-border-1 {
            width: 100%;
            height: 100%;
            border: 5px solid $accent-color;
            position: absolute;
            border-radius: $border-radius;
            top: -20px;
            left: 20px;
            z-index: -1;
        }
        .img-border-2 {
            width: 100%;
            height: 100%;
            border: 5px solid $accent-color;
            position: absolute;
            border-radius: $border-radius;
            top: 20px;
            left: 40px;
            z-index: -1;
        }
    }
}

.section_skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .gear-bg {
        position: absolute;
        left: 70%;
    }
    i {
        font-size: 3rem;
        color: $accent-color;
        margin-right: 1rem;
    }
    .skills-list {
        margin: 1rem 2rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        .item {
            padding: 0.5rem 1rem;
            color: $text-color-alternate;
            background-color: $accent-color;
            border-radius: $border-radius;
            text-transform: uppercase;
        }
    }
}

.section_experience {
    display: flex;
    align-items: center;
    position: relative;
    .gear-bg {
        right: 60%;
    }
    i {
        font-size: 3rem;
        color: $accent-color;
        margin-right: 1rem;
    }
    .work-about > ul {
        margin-top: 4rem;
    }
    ul li ul li {
        margin-bottom: 2rem;
        text-shadow: $text-shadow-dark;
    }
}

.section_projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .gear-bg {
        left: 50%;
    }
    i {
        margin-right: 1rem;
    }
}
.project-display {
    align-self: center;
    display: grid;
    grid-template-columns: minmax(200px, 350px);
    grid-auto-rows: 200px;
    gap: 3rem;
    .project {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 4px solid $accent-color;
        height: 200px;
        border-radius: $border-radius;
        position: relative;
        div {
            border: 4px solid $accent-color;
            border-radius: $border-radius;
            background-color: white;
            height: 100%;
            width: 100%;
            padding: 2rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: $text-color-alternate;
            text-align: center;
            opacity: 0;
            transition: 0.5s;
            h4 {
                font-size: 3rem;
                margin: 0;
                font-family: old-english;
                font-weight: 400;
            }
            p {
                font-size: 2rem;
                margin: 0;
                font-family: old-english;
                text-shadow: none;
                font-weight: 400;
            }
            &:hover {
                opacity: 1;
                background-image: url();
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
    .project-1 {
        background-image: url(images/projects/project-1.png);
    }
    .project-2 {
        background-image: url(images/projects/project-2.png);
    }
    .project-3 {
        background-image: url(images/projects/project-3.png);
    }
    .project-4 {
        background-image: url(images/projects/project-4.png);
    }
    .project-5 {
        background-image: url(images/projects/project-5.png);
    }
    .project-6 {
        background-image: url(images/projects/project-6.png);
    }
}

.section_contacts {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .contacts-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        i {
            margin: 0 1rem;
        }
        h2 {
            position: relative;
        }
        p {
            text-align: center;
        }
        h3 {
            font-size: 3rem;
            margin: 0;
        }
        a {
            text-decoration: none;
            padding: 0.5rem 1rem;
            color: $text-color;
            background-color: $accent-color;
            border-radius: $border-radius;
            border: 2px solid $text-color-alternate;
            transition: 0.2s;
            &:hover {
                transform: scale(1.2) translateY(10px);
                color: $text-color;
                background-color: $accent-color-dark;
            }
        }
    }
    .contact-icons {
        ul {
            list-style: none;
            display: flex;
            padding: 0;
            li {
                font-size: 2.5rem;
                margin: 2rem 2rem;
                i {
                    transition: 0.2s;
                    &:hover {
                        color: $accent-color;
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
}

// MEDIA QUERIES

@media screen and (min-width: 500px) {
    .section_home {
        .gear-bg {
            right: 90%;
        }
    }
    .section_about {
        .gear-bg {
            left: 75%;
        }
        .about-img {
            width: 75%;
        }
    }
    .section_skills {
        .gear-bg {
            left: 95%;
        }
    }
    .section_experience {
        .gear-bg {
            right: 95%;
        }
    }
    .section_projects {
        .gear-bg {
            left: 75%;
        }
    }
    .btn-up {
        height: 40px;
        width: 40px;
        bottom: 5%;
        right: 5%;
    }
}
@media screen and (min-width: 768px) {
    body {
        font-size: 150%;
    }
    header {
        nav {
            height: 4.5rem;
            ul {
                gap: 1rem;
                a {
                    margin: 0.5rem;
                    text-decoration: none;
                    font-size: 1.5rem;
                }
            }
        }
    }

    main section {
        margin: 0 auto;
        width: 80%;
    }
    .about-img {
        i {
            position: absolute;
            top: auto;
            bottom: -5%;
            right: -5%;
            font-size: 7rem;
            color: $accent-color;
        }
    }

    .section_skills {
        flex-direction: row;
        .skills-about {
            order: 2;
        }
    }

    .project-display {
        grid-template-columns: repeat(2, minmax(200px, 450px));
    }
    .section_contacts {
        .contact-icons {
            ul {
                display: block;
                flex-direction: column;
                list-style: none;
                position: fixed;
                bottom: 0;
                left: 5px;
                padding-left: 10px;
                margin: 0;

                li {
                    font-size: 1.5rem;
                    margin: 1rem;
                }

                &::after {
                    content: '';
                    display: block;
                    width: 3px;
                    height: 150px;
                    margin: 0px auto;
                    background-color: $accent-color;
                }
            }
        }
    }

    .section_home {
        .gear-bg {
            right: 90%;
        }
    }
    .section_about {
        .gear-bg {
            left: 75%;
        }
    }
    .section_skills {
        .gear-bg {
            left: 95%;
        }
    }
    .section_experience {
        .gear-bg {
            right: 95%;
        }
    }
    .section_contacts {
        .gear-bg {
            left: 75%;
        }
    }
}
@media screen and (min-width: 1024px) {
    body {
        font-size: 200%;
    }
    header {
        nav {
            height: 5rem;
            ul {
                gap: 1rem;
                a {
                    font-size: 2rem;
                }
            }
        }
    }

    main section {
        margin: 0 auto;
        width: 70%;
        min-height: 100vh;
    }

    .about-img {
        order: 2;
    }
    .contact-icons {
        ul {
            display: block;
            list-style: none;
            position: fixed;
            bottom: 0;
            left: 0;
            padding-left: 20px;
            margin-bottom: 0;
            margin-top: 0;
            li {
                font-size: 2rem;
                margin: 0.5rem 0;
            }
            &::after {
                content: '';
                display: block;
                width: 3px;
                height: 200px;
                margin: 0px auto;
                background-color: $accent-color;
            }
        }
    }
    .project-display {
        grid-template-columns: repeat(3, minmax(200px, 450px));
    }
    .section_home {
        .gear-bg {
            right: 75%;
        }
    }
    .section_about {
        flex-direction: row;
        align-items: center;
        .gear-bg {
            left: 75%;
        }
    }
    .section_skills {
        .gear-bg {
            left: 75%;
        }
    }
    .section_experience {
        .gear-bg {
            right: 75%;
        }
    }
    .section_projects {
        .gear-bg {
            left: 75%;
        }
    }
}
@media screen and (min-width: 1600px) {
    body {
        font-size: 250%;
    }
    header {
        nav {
            height: 5rem;
            ul {
                gap: 1rem;
                a {
                    font-size: 2rem;
                }
            }
        }
    }

    main section {
        margin: 0 auto;
        width: 50%;
        min-height: 100vh;
    }
    .about.img {
        i {
            position: absolute;
            top: auto;
            bottom: -5%;
            right: -5%;
            font-size: 7rem;
            color: $accent-color;
        }
    }

    .section_skills {
        flex-direction: row;
        align-items: center;
        position: relative;
        .gear-bg {
            position: absolute;
            height: 100%;
        }
    }
    .contact-icons {
        ul {
            left: 0 px;
            padding-left: 60px;

            li {
                font-size: 2rem;
                margin: 0.5rem 0;
            }

            &::after {
                height: 200px;
            }
        }
    }

    .section_home {
        .gear-bg {
            right: 100%;
        }
    }
    .section_about {
        .gear-bg {
            left: 100%;
        }
    }
    .section_skills {
        .gear-bg {
            left: 100%;
        }
    }
    .section_experience {
        .gear-bg {
            right: 100%;
        }
    }
    .section_projects {
        .gear-bg {
            left: 100%;
        }
    }
}
/* ANIMATIONS */

/* ANTI-CLOCKWISE */
@-webkit-keyframes rotating-acw /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@keyframes rotating-acw {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
.rotating-acw {
    -webkit-animation: rotating-acw 2s linear infinite;
    -moz-animation: rotating-acw 2s linear infinite;
    -ms-animation: rotating-acw 2s linear infinite;
    -o-animation: rotating-acw 2s linear infinite;
    animation: rotating-acw 2s linear infinite;
}
/* ROTATIN CLOCK-WISE */
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
/* ANTI-CLOCKWISE SLOW */
@-webkit-keyframes rotating-acw-slow /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@keyframes rotating-acw-slow {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
.rotating-acw-slow {
    -webkit-animation: rotating-acw-slow 6s linear infinite;
    -moz-animation: rotating-acw-slow 6slinear infinite;
    -ms-animation: rotating-acw-slow 6s linear infinite;
    -o-animation: rotating-acw-slow 6s linear infinite;
    animation: rotating-acw-slow 6s linear infinite;
}
/* ROTATIN CLOCK-WISE SLOW */
@-webkit-keyframes rotating-slow /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating-slow {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating-slow {
    -webkit-animation: rotating-slow 6s linear infinite;
    -moz-animation: rotating-slow 6s linear infinite;
    -ms-animation: rotating-slow 6s linear infinite;
    -o-animation: rotating-slow 6s linear infinite;
    animation: rotating-slow 6s linear infinite;
}
